# Среда выполнения
QTIVA_ENV=dev

# HTTP адреса сервисов
QTIVA_MANAGER_HTTP_ADDR=
QTIVA_AGENT_HTTP_ADDR=

# Настройки Postgres
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# Настройки пула БД
QTIVA_DB_MAX_OPEN=10
QTIVA_DB_MAX_IDLE=5
QTIVA_DB_CONN_MAX_LIFETIME=30m
QTIVA_DB_CONN_MAX_IDLE_TIME=5m
QTIVA_DB_PING_TIMEOUT=3s

# Администратор
QTIVA_ADMIN_EMAIL=
QTIVA_ADMIN_PASSWORD=

# JWT
QTIVA_JWT_HMAC_SECRET=
QTIVA_JWT_TTL=

# Артефакты
QTIVA_DATA_DIR=
QTIVA_ARTIFACT_MAX_BYTES=1073741824 # 1 GB
QTIVA_MAX_TIMEOUT_SEC=180 # 3 минуты
