# Среда выполнения
QTIVA_ENV=dev

# HTTP адреса сервисов
QTIVA_MANAGER_HTTP_ADDR=
QTIVA_MANAGER_UPLOAD_HTTP_ADDR=
QTIVA_AGENT_HTTP_ADDR=

# Настройки Postgres
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# Настройки пула БД
QTIVA_DB_MAX_OPEN=10
QTIVA_DB_MAX_IDLE=5
QTIVA_DB_CONN_MAX_LIFETIME=30m
QTIVA_DB_CONN_MAX_IDLE_TIME=5m
QTIVA_DB_PING_TIMEOUT=3s

# Администратор
QTIVA_ADMIN_EMAIL=
QTIVA_ADMIN_PASSWORD=

# JWT
QTIVA_JWT_HMAC_SECRET=
QTIVA_JWT_TTL=

# Артефакты
QTIVA_DATA_DIR=
QTIVA_ARTIFACT_MAX_BYTES=1073741824 # 1 GB
QTIVA_MAX_TIMEOUT_SEC=180 # 3 минуты

# Таймауты для загрузки артефактов
QTIVA_UPLOAD_READ_HEADER_TIMEOUT=5s
QTIVA_UPLOAD_READ_TIMEOUT=0s # без ограничения
QTIVA_UPLOAD_WRITE_TIMEOUT=30s
QTIVA_UPLOAD_IDLE_TIMEOUT=60s

# TTL по умолчанию для данных прогона
QTIVA_RUN_DEFAULT_TTL=3h
# TTL после успешного получения лога
QTIVA_LOG_RECEIVED_TTL=10m
