# Среда выполнения
QTIVA_ENV=dev

# HTTP адреса сервисов
QTIVA_MANAGER_HTTP_ADDR=:8080
QTIVA_MANAGER_UPLOAD_HTTP_ADDR=:8081
QTIVA_AGENT_HTTP_ADDR=:8090

# Настройки Postgres для dev
POSTGRES_HOST=localhost
POSTGRES_DB=qtiva-cloud
POSTGRES_USER=qtiva-cloud-user
POSTGRES_PASSWORD=fdYW34nmWW12cv
POSTGRES_PORT=5432
POSTGRES_DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# Настройки пула БД
QTIVA_DB_MAX_OPEN=10
QTIVA_DB_MAX_IDLE=5
QTIVA_DB_CONN_MAX_LIFETIME=30m
QTIVA_DB_CONN_MAX_IDLE_TIME=5m
QTIVA_DB_PING_TIMEOUT=3s

# Администратор
QTIVA_ADMIN_EMAIL=gdm@qtiva.com
QTIVA_ADMIN_PASSWORD=UUybn53uwq91Po7gg1
# Пользователь (для тестов)
QTIVA_USER_EMAIL=user@qtiva.com
QTIVA_USER_PASSWORD=user123

# JWT
QTIVA_JWT_HMAC_SECRET=fff9b1ad8ea3a329ecad54e47fc0e50fbae26c463989906abc200e4e12c3a625
QTIVA_JWT_TTL=24h

# Артефакты
QTIVA_DATA_DIR=/tmp/data
QTIVA_ARTIFACT_MAX_BYTES=1073741824 # 1 GB
QTIVA_MAX_TIMEOUT_SEC=180 # 3 минуты

# Таймауты для загрузки артефактов
QTIVA_UPLOAD_READ_HEADER_TIMEOUT=5s
QTIVA_UPLOAD_READ_TIMEOUT=0s # без ограничения
QTIVA_UPLOAD_WRITE_TIMEOUT=30s
QTIVA_UPLOAD_IDLE_TIMEOUT=60s

# TTL по умолчанию для данных прогона
QTIVA_RUN_DEFAULT_TTL=3h
# TTL после успешного получения лога
QTIVA_LOG_RECEIVED_TTL=10m

# Количество параллельных воркеров
QTIVA_AGENT_CONCURRENCY=2

# Интервал опроса очереди
QTIVA_AGENT_POLL_INTERVAL=500ms

# Docker
QTIVA_DOCKER_HOST=unix:///var/run/docker.sock
QTIVA_DOCKER_RUNTIME=runc

# Таймауты выполнения
# QTIVA_DEFAULT_TIMEOUT=90s
QTIVA_MAX_TIMEOUT=180s

# Интервал запуска сборщика мусора
QTIVA_GC_INTERVAL=5m
